@import '../../global.scss';

.portfolioList {
  font-size: 14px;
  margin: 0 25px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;

  @include mobile {
    margin: 0 10px;
  }

  &.active {
    background-color: $mainColor;
    color: white;
  }
}
